export interface Input {
  global: number;
  user: number;
}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counts</title>
  </head>
  <body>
    <h1>Counts</h1>
    <div>Global: ${input.global}</div>
    <div>User: ${input.user}</div>
    <form action="/" method="POST">
      <div><button type="submit" name="global" value="global">Global</button></div>
      <div><button type="submit" name="user" value="user">User</button></div>
    </form>
  </body>
</html>
